<?php
define('DB_NAME', '{{ lookup('default', 'db_name') }}');
define('DB_USER', '{{ lookup('default', 'db_user') }}');
define('DB_PASSWORD', '{{ lookup('default', 'db_password') }}');
define('DB_HOST', 'localhost');
define('DB_CHARSET', 'utf8');
define('DB_COLLATE', '');
